---
interface Props {
  title: string;
  href: string;
  icon: string;
}

const { title, href, icon } = Astro.props;
---

<li>
  <a
    href={href}
    class="flex items-center space-x-2 px-4 py-2.5 rounded-lg transition-colors text-starlight-text hover:bg-starlight-accent/10 hover:text-starlight-primary"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d={icon}></path>
    </svg>
    <span class="font-medium">{title}</span>
  </a>
</li>
